.corona {
    position: relative;
    width: 270px;
    height: 160px;
    margin: 80px auto;
    border-top: 160px solid #ebbb30;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
}

.picos {
    position: absolute;
    top: -240px;
    left: -25px;
    width: 90px;
    height: 150px;
    background-color: #030712;
    color: #030712;
    border-radius: 50%;
    box-shadow: 90px 0, 180px 0;
}

.base {
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    height: 15px;
    background-color: #ebbb30;
    border-radius: 20px;
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.25);
}

.circulos {
    position: absolute;
    top: -150px;
    left: -30px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ebbb30;
    box-shadow:
    85px -17px 0 0 #ebbb30,
    175px -17px 0 0 #ebbb30,
    260px 0 0 0 #ebbb30;
}
